.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  padding: 15px;
  margin: 20px;
  width: 100%;
  max-width: 500px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 600px) {
  .card-container {
    padding: 10px;
    margin: 10px;
  }
}
