.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  padding: 15px;
  width: 100%;
  max-width: 500px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}

.add-order-button {
  display: none;
}

.add-order-form {
  display: block;
}

@media (max-width: 768px) {
  .add-order-button {
    display: block;
  }

  .add-order-form {
    display: none;
  }
}
