.table-root {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.actions {
  text-align: center;
}

.actions button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.actions button:hover {
  color: red;
}
